.centrarDiv {
    font-size: 14px;
    color: black;
    margin-top: 125px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    text-align: center; /* Alinea el texto dentro de los elementos */
}

.contenedor-formulario {
    background-color: lightblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Ancho del contenedor */
    text-align: right;
}

    .contenedor-formulario > * {
        margin-bottom: 13px;
    }

.btnCargarTurno {
    background-color: mediumseagreen;
    color: white; /* Cambia el color del texto a blanco */
    padding: 8px 16px; /* Agrega relleno al botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 4px; /* Agrega esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.4s; /* Agrega una transición suave */
    font-size: 14px;
}

    .btnCargarTurno:hover {
        background-color: lightgreen;
    }

.centrar {
    display: flex;
    align-items: center;
    justify-content: center;
}