.divPadre {
    margin-top: 125px;
}

.divMensaje {
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 22px;
}


.divBotonPaciente {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.boton {
    margin-left: 10px;
    background-color: mediumseagreen;
    color: white; /* Cambia el color del texto a blanco */
    padding: 6px 12px; /* Agrega relleno al botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 4px; /* Agrega esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Agrega una transición suave */
}
    .boton:hover {
        background-color: lightgreen;
    }

.divGrilla {
    margin-top: 15px;
    margin-left: 30px;
}
#grdPacientes {
    width: 600px;
}


